body{
	background-color: #e4e5e4;
	font-family: "Calibri","Roboto","segoe ui",Helvetica,Arial,sans-serif!important;
}

.nav>li>a{
	color: #fff; 
	font-size: 18px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
	color: #00f2ff !important;
}

#navbar{
	height: 80px; 
	padding: 15px; 
	background: #1b75ba;
	position: fixed;
	top: 0px;
	z-index: 3;
	width: 100%;
}

.img-logo{
	margin: 8px 50px;
}

#search-bar{
	display: inline-block; 
	margin-top: 7px; 
	height: 36px; 
	background-color: #fff; 
	border: none; 
	width: 300px;
	padding-left: 10px;
	font-size: 15px;
}

#content{
	position: relative;
	overflow-y: auto;
    overflow-x: hidden;
    height: 636px;
}

#slider-top{
	position: absolute;
    min-width: 10px;
    margin-left: 0px;
    display: inline-flex;
    min-height: 10px;
    height: 442px;
    width: 100%;
    margin-top: 90px;
}
.slider-item{
	width: 444px;
    height: 444px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}

#main-content{
	left: 0px;
    width: 1003px;
    position: absolute;
    margin-left: calc((100% - 980px) * 0.5);
    min-width: 980px;
    top: 365px;
    height: max-content;
	background-color: #f3f3f5; 
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}



/*a post style*/

.post-item{
	display: inline-block;
}
.post-box{
	position: relative;
	width: 292px;
	height: 478px;
	background-color: #fff;
	margin: 15px;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.p-top{
	width: 100%;
	height: 200px;
	background-size: 100%;
	border-bottom: 1px solid #f3f3f5;
}

.p-content-left{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

.author-avt{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/*background-image: url("../images/profile-2.png");*/
    background-size: 100%;
}

.p-content-middle{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.p-content-middle > p{
	margin: 0;
}

.p-content-right{
	cursor: pointer;
	position: relative;
}

.p-content-right:hover{
	color: blue;

	
}

.post-time{
	color: grey;
}

.destination{
	color: red;
}

.destination >span{
	margin-right: 5px; 
	margin-left: -2px
}

.p-content-caption{
	margin:10px;
	height: 140px;
	overflow: hidden;
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical; 
}

.p-content-right{
	float: right;
	width: 20px;
	height: 20px;
	vertical-align: top;
	margin: 10px;
	margin-right: 0;
	position: relative;

}

.p-content-right .p-content-setting{
	transform: initial !important;
	top: 20px!important;
    left: -140px!important;
}

.p-content-setting .setting-item{
	margin: 0;
	padding: 5px;

}

.p-content-setting .setting-item:hover{
	background-color: #31708f;
	color: #fff;
}

.p-bottom{
	margin: 10px;
	padding:5px;
	padding-top: 10px;
	height: 55px;
	font-size: 16px;
	color: grey;
	border-top: 1px solid #d6d6d6;
}

.p-bottom-left{
	float: left;
}
.p-bottom-right{
	float:right;
}

.p-bottom-right > .comment-count{
	vertical-align: text-bottom;
}

.glyphicon-star{
	color: #fac917;
}
